body {
  font-family: 'Montserrat', sans-serif;
}
#title {
  background-color: #ff4c68;
  color: #fff;
}
h1 {
  font-family: 'Montserrat-black', sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 800;
}
.container-fluid {
  padding: 3% 15% 7%;
}
/* navigation bar */
.navbar {
  padding: 0 0 4.5rem;
}
.navbar-brand {
  font-size: 2.5rem;
  font-weight: bold;
  font-family: "Ubuntu";
}
.nav-item {
  padding: 0 18px;
}
.nav-link {
  font-size: 1.2rem;
  font-family: "montserrat-light";
}
/* download buttons */
.download-button {
  margin: 5% 3% 5% 0;
}
/* title image */
.title-img {
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%;
}
/* website features */
#features {
  padding: 7% 10%;
  background-color: #fff;
  position: relative;
}
.features-item {
  padding: 5%;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}
.feature-icon {
  font-size: 4rem;
  color: #ef8172;
  margin-bottom: 1rem;
}
.feature-icon:hover {
  color: #ff4c68;
}
.features-item h3 {
  font-size: 1.5rem;
}
.features-item p {
  color: #8f8f8f;
}
/* testimonials section */
#testimonials {
  background-color: #ef8172;
  color: #fff;
  text-align: center;
}
#testimonials h2 {
  font-family: "montserrat" , sans-serif;
  font-size: 3rem;
  line-height: 1.5;
}
#testimonials img {
  width: 10%;
  border-radius: 50%;
  margin: 20px;
}
#press {
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}
#press img {
  width: 15%;
}
.carousel-item {
  padding: 7% 10%;
}
/* pricing section */
#pricing {
  padding: 7% 10%;
}
.pricing-column {
  padding: 3% 2%;
  text-align: center;
}
.pricing-column:nth-child(1) p:nth-child(4) , .pricing-column:nth-child(2) p:nth-child(4) {
  margin-bottom: 56px;
}
/* cta section */
#cta {
  background-color: #ff4c68;
  color: #fff;
  padding: 4% 0% 3%;
  text-align: center;
}
#cta h3 {
  width: 80%;
  font-family: 'Montserrat-black', sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 800;
  margin: auto;
}
#cta button {
  margin:3% 1% 6% 0;
}

/* footer section */
#footer {
  text-align: center;
  padding: 3% 10%;
}
.social {
  margin: 1%;
}
#footer p {
  margin: 1% 0 0;
  color: #8f8f8f;
}
/* media screen */
@media screen and (max-width: 1287px) and (min-width: 992px) {
  h1 {
    font-size: 2.5rem;
  }
}
@media screen and (max-width: 1073px) {
  .container-fluid {
    padding: 3% 10% 7%;
  }
}
@media screen
  and (max-width: 992px) {
#title {
  text-align: center;
}
.title-img {
  width: 40%;
  position: static;
  transform: rotate(0);
}
}
@media screen
  and (max-width: 554px) {
    h1 {
      font-size: 2.8rem;
    }
  }
