body {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: 900;
}
.big-heading {
  font-size: 3.5rem;
  line-height: 1.5;
}
.container-fluid {
  padding: 3% 15% 7%;
}
/* sections */
section, footer {
  padding: 7% 10%;
}
.colored-section {
  background-color: #ff4c68;
  color: #fff;
}
.white-section {
  background-color: #fff;
}
/* title section */
#title .row {
  text-align: left;
}
/* navigation bar */
.navbar {
  padding: 0 0 4.5rem;
}
.navbar-brand {
  font-size: 2.5rem;
  font-weight: bold;
  font-family: "Ubuntu";
}
.nav-item {
  padding: 0 18px;
}
.nav-link {
  font-size: 1.2rem;
  font-family: "montserrat-light";
}
/* download buttons */
.download-button {
  margin: 5% 3% 5% 0;
}
/* title image */
.title-img {
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%;
}
/* website features */
#features {
  position: relative;
}
.features-item {
  padding: 5%;
}
.feature-icon {
  font-size: 4rem;
  color: #ef8172;
  margin-bottom: 1rem;
}
.feature-icon:hover {
  color: #ff4c68;
}
.features-item h3 {
  font-size: 1.5rem;
}
.features-item p {
  color: #8f8f8f;
}
/* testimonials section */
#testimonials {
  background-color: #ef8172;
  padding: 0;
}
#testimonials h2 {
  font-size: 3rem;
  line-height: 1.5;
}
#testimonials img {
  width: 10%;
  border-radius: 50%;
  margin: 20px;
}
.carousel-item {
  padding: 7% 10%;
}
/* press section */
#press {
  background-color: #ef8172;
  padding: 3%;
}
#press img {
  width: 15%;
}
/* pricing section */
.pricing-column {
  padding: 3% 2%;
}
.pricing-column:nth-child(1) p:nth-child(4) , .pricing-column:nth-child(2) p:nth-child(4) {
  margin-bottom: 56px;
}
/* footer section */
.social {
  margin: 1%;
}
#footer p {
  margin: 1% 0 0;
  color: #8f8f8f;
}
/* media screen */
@media screen and (max-width: 1287px) and (min-width: 992px) {
  h1 {
    font-size: 2.5rem;
  }
}
@media screen and (max-width: 1073px) {
  .container-fluid {
    padding: 3% 10% 7%;
  }
}
@media screen
  and (max-width: 992px) {
#title .row {
  text-align: center;
}
.title-img {
  width: 40%;
  position: static;
  transform: rotate(0);
}
.toggler {
  font-size: 3.25rem;
}
.navigation-links {
  font-size: 2.2rem;
}
.download-button, #cta button {
  font-size: 2rem;
  padding: 2rem;
}
#cta button {
  font-size: 2rem;
  padding: 2rem;
  margin: 3% 3% 6% 0;
}
.card-body button {
  font-size: 1.5rem;
}
}

}
@media screen
  and (max-width: 554px) {
    h1 {
      font-size: 2.8rem;
    }
  }
